android/** linguist-generated=true
ios/** linguist-generated=true
linux/** linguist-generated=true
macos/** linguist-generated=true
windows/** linguist-generated=true
web/** linguist-generated=true

*.dart linguist-detectable=true

# Definir Dart como principal
*.dart linguist-language=Dart